// 主题色
$bt-color-primary: #1a73e8 !default;
$bt-color-primary-dark: #1a73e8 !default;
$bt-color-warning: #e6a23c !default;
$bt-color-warning-dark: #c6892e !default;
$bt-color-danger: #ef0808 !default;
$bt-color-danger-dark: #c81e1e !default;

$white-color: #ffffff;

// 背景
$body-bg-color: #ffffff;

// 问号图标
$ask-color: #fb7d00;

// 背景
$bt-while: #fff !default;
$bt-gray-dark: #555 !default;
$bt-gray-medium: #666 !default;
$bt-gray-light: #999 !default;
$bt-gray-page: #e8e8e8 !default;

// 文本颜色
$color-text-primary: $bt-gray-dark;
$color-text-regular: $bt-gray-medium;
$color-text-secondary: $bt-gray-light;
$color-text-placeholder: #a8abb2;

// 文字
$text-color: $bt-gray-dark;

// 弹框
$dialog-header-bg-color: #f8f8f8;
$dialog-header-border-color: #eee;
$dialog-footer-bg-color: #f6f8f8;

// 消息框
$message-border-color: #d3d4d3;

// 表格
$table-border-color: #ddd;
$table-hover-bg-color: #f6f6f6;

// 边框颜色
$border-color: #eee;

// tabs背景
$tabs-bg-color: #f5f7fa;
