// types
$types: primary, success, warning, danger, error, info;
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
	$colors: (
		'primary': (
			'base': #1a73e8,
		),
		'success': (
			'base': #1a73e8,
		),
		'warning': (
			'base': #f2711c,
		),
		'danger': (
			'base': #db2828,
		),
		'error': (
			'base': #db2828,
		),
		'info': (
			'base': #909399,
		),
	),

	$font-size: (
		'base': 12px,
	),
	$box-shadow: (
		'light': 0 1px 1px 0 rgba(0, 0, 0, 0.04),
	),
	$alert: (
		'title-font-size': 12px,
	),
	$select: (
		'font-size': 12px,
		'input-font-size': 12px,
	),
	$button: (
		'border-color': #dcdfe6,
		'bg-color': #fff,
		'text-color': #606266,
		'hover-text-color': #1a73e8,
		'hover-bg-color': rgb(0 0 0 / 0%),
		'hover-border-color': #a8c7fa,
		'active-text-color': #1a73e8,
		'active-bg-color': rgb(0 0 0 / 0%),
		'active-border-color': #1a73e8,
		'disabled-text-color': #a8abb2,
		'disabled-bg-color': #fff,
		'disabled-border-color': #e4e7ed,
	),
	// $button-padding-vertical: (
	// 	'default': 8px,
	// ),
	// $button-padding-horizontal: (
	// 	'default': 13px,
	// ),
	$card:
		(
			'padding': 0,
		),
	$pagination: (
		'button-bg-color': #f4f4f5,
		'button-height-small': 28px,
		'button-width-small': 30px,
		'button-color': #666,
	),
	$message: (
		'text-color': #555,
	),
	$dropdown: (
		'menuItem-hover-fill': #a8c7fa,
		'menuItem-hover-color': #1a73e8,
	)
);
@use 'element-plus/theme-chalk/src/index.scss' as *;
